/*
 * -------------------------------------------------
 *  Nextflow config file to define paths
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for PRL processes
 */


params {

    // Output directory to publish workflow results
    


    def run_name            = params.run_name
    def runid               = params.runid
    
    metadir                 = "${launchDir}/data/meta_info"
    samplesheetBCL          = "${metadir}/${run_name}_sample_sheet.csv"
    samplesheetmeta         = "${metadir}/${run_name}_meta_sheet.csv"

    
    inputfastq              = "${launchDir}/data/${params.run_name}/*_R{1,2}_001.fastq.gz"
    onco_dirname            = "${metadir}"
    extension               = "/*_R{1,2}_001.fastq.gz"
    


    steps_data              = "${onco_dirname}/results"
    trim_dirname            = "${steps_data}/01_trim"
    fastqc_dirname          = "${steps_data}/02_fastqc"
    multiqc_dirname         = "${steps_data}/02_multiqc"
    bwa_dirname             = "${steps_data}/03_align"
    stats_dirname           = "${steps_data}/stats"
    dedup_dirname           = "${steps_data}/04_dedup"


}
