/*
 * -------------------------------------------------
 *  Nextflow config file for reference files
 * -------------------------------------------------
 */

 def ref_dir = "/Users/simra1/Desktop/Code/nf-development/nf-oncology/hg_genome"

 params {

    /* 
    * Genome Paramaters and target bed files information for oncology
    */

   genome_fasta          = "${ref_dir}/hg19.fa"
   genome_mito           = "${ref_dir}/hg_mito.fa"

}